.footer{
    width: 100%;
    padding: 2rem 0rem;
    background: $footer_bg;
    &__container{
        width: 80%;
        padding: 2rem 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: #fff;
    }
    &__img{
        width: 9rem;
        display: block;
    }
    h3{
        text-transform: uppercase;
        color: $text_orange;
        font-size: 1.2rem;
    }
    &__nav{
        margin-bottom: 3rem;
    }
    &__item{
        text-decoration: none;
        color: rgb(170, 169, 169);
        padding: 1.5rem 1rem;
        &--darker{
            color: grey;
        }
    }
    p{
        font-size: 1.2rem;
        a{
            text-decoration: none;
            color: $text_orange;
        }
    }
}