.header{
    width: 100%;
    padding: 2rem 0rem;
    background: $header_bg;
    &__container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media(max-width:700px){
            flex-direction: column;
        }
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            width: 25rem;
        }
    }
    &__img{
        width: 9rem;
        display: block;
        @media(max-width:700px){
            margin-bottom: 2rem;
        }
    }
    &__item{
        text-decoration: none;
        color: rgb(170, 169, 169);
        width: 25%;
        &--darker{
            color: grey;
        }
    }
}