.main{
    width: 80%;
    margin: 3rem auto;
    &__first{
        text-transform: uppercase;
        img{
            width: 100%;
        }
        h1{
            font-size: 2rem;
            font-weight: 300;  
        }
        h2{
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 3rem;
        }
    }
    &__info{
        display: flex;
        flex-direction: row;
        &__opening{
            flex-grow: 1;
        }
        &__number{
            flex-grow: 1;
        }
        &__address{
            flex-grow: 2;
        }
        ul{
            padding:0;
        }
        li{
            list-style: none;
            margin: 0;
            padding-left: 0;
            font-weight: 200;
            line-height: 2rem;
        }
        h2{
            font-weight: 200;
            text-transform: uppercase;
        }
        @media(max-width:1100px){
            justify-content: space-between;
            div{
                flex-grow: 0;
            }
        }
        @media(max-width:950px){
            flex-direction: column;
            align-items: center;
            div{
                width: 40%;
            }
        }
        @media(max-width:780px){
            flex-direction: column;
            align-items: center;
            div{
                width: 100%;
            }
        }

    }

}