
.main{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
}
.main__row{
    display: flex;
    //display: column;
    //flex-direction: column;
    flex-wrap: wrap;
    //width: 48%;
    //min-width: 400px;
    //max-width: 400px;
    //max-height: 200px;
    //align-items: flex-start;


    //max-height: 1000px;

    img{
        width: 100%;
    }



.main-cards{
    display: flex;
    //max-width: 30%;
    //margin-right: 10%;
    //width: 45%;
    flex-direction: column;
    padding: 1em;
    flex-wrap: wrap;
    //flex-basis: 500px;
    //border: 1px solid black;
    flex-grow: 1;

    &__title{
        display: flex;
        padding-top: 1em;
    }
    &__content{
        display: flex;
        flex-direction: column;
    }
}

}
.menu-item{
    display: flex;
    justify-content: space-between;
    //flex-direction: column;
    padding-top: 0.5em;
    padding-right: 0.5em;
    flex-wrap: wrap;

    &__product{
        display: flex;
    }

    &__price{
        display: flex;
    }
}

.img-footer{
    display: flex;
    flex-basis: 100%;
    flex: auto;
}
