
.main{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
    h1, h2{
        font-weight: 300;
        @media(max-width: 730px){
           text-align: center;
        }
    }
}
.main__row{
    display: flex;
    //display: column;
    //flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    font-weight: 300;
    @media(max-width: 730px){
        flex-direction: column;
        align-content: space-around;
    }
    img{
        width: 100%;
    }

.main-cards{
    display: flex;
    //max-width: 30%;
    //margin-right: 10%;
    flex-direction: column;
    padding-bottom: 1em;
    flex-wrap: wrap;
    //flex-basis: 500px;
    //border: 1px solid black;
    width: 48%;
    @media(max-width: 730px){
        width: 70%;
    }

    &__title{
        display: flex;
        padding-top: 1em;
        font-size: 1.5em;
    }
    &__content{
        display: flex;
        flex-direction: column;
    }
}

}
.menu-item{
    display: flex;
    justify-content: space-between;
    //flex-direction: column;
    padding-top: 0.5em;
    padding-right: 0.5em;
    flex-wrap: wrap;

    &__product{
        display: flex;
    }

    &__price{
        display: flex;
    }
}

.img-footer{
    display: flex;
    flex-basis: 100%;
    flex: auto;
}
